<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="ERPModelApp">
<nav>
    <span class="nav-icon"><a href="/Home/Index">ERP-Model</a></span>
    <ul class="nav-ul">
        <li>
            <a href="/ProductManagement/Index">Product Managment</a>
        </li>
        <li>
            <a href="/Stock/Index">Stock</a>
        </li>
        <li>
            <a href="/Orders/Index">Orders</a>
        </li>
        <li>
            <a href="/Supplys/Index">Supplies</a>
        </li>
        <li>
            <a href="/Administration/Index">Administration</a>
        </li>
    </ul>
</nav>
<main>
    @RenderBody()
</main>
<footer></footer>
</body>
</html>